@use "../../components/header.scss";
@use "../../components/home/new-post-box.scss";
@use "../../components/home/profile-card.scss";
@use "../../components/home/tags.scss";
@use "../../components/profile-icon.scss";
@use "../../components/post.scss";
@use "../../abstract";

body {
	background-color: rgb(13, 202, 240);
	// background-color: dimgray;
	// background-color: #222;
	background-color: #f0f2f5;
	background-color: #eee;
	background-color: #f0f0f0;
	background-color: #e3eff3;
	background-color: #e3f1f3;
	background-color: rgb(222, 238, 241);
}
.main-wrapper {
	// overflow: hidden;

	.container-xl {
		display: flex;
		gap: 10px;

		> * {
			flex: 1;
			transition: width 0.3s ease;
		}

		@media (max-width: 900px) {
			& aside#tags {
				display: none;
			}

			& #profile-card {
				display: none;
			}
		}

		main {
			&::before {
				content: "";
				width: 100vw;
				height: 91px;
				background-color: rgb(222, 238, 241);
				position: fixed;
				top: 0;
				left: 0;
				z-index: 0;
			}

			display: flex;
			flex-direction: column;
			margin-top: 73px;

			.posts {
				max-width: 450px;
				margin: auto;
				padding-bottom: 80px;

				@media (max-width: 1400px) {
					& {
						min-width: 400px;
					}
				}

				@media (max-width: 700px) {
					& {
						min-width: 100%;
					}
				}
			}
		}
	}
}
