@use "../../components/header.scss";
@use "../../components/home/new-post-box.scss";
@use "../../components/home/profile-card.scss";
@use "../../components/home/tags.scss";
@use "../../components/profile-icon.scss";
@use "../../components/post.scss";
@use "../../abstract";

body {
	background-color: rgb(222, 225, 240);
	background-color: #fff;
	background-color: #f7f7f7;
}

.main-wrapper {
	.container-xl {
		display: flex;
		justify-content: center;
		gap: 10px;
		// max-width: 1500px;

		> * {
			flex: 1;
			transition: width 0.3s ease;
		}

		@media (max-width: 900px) {
			& aside#tags {
				display: none;
			}

			& #profile-card {
				display: none;
			}
		}

		.profile {
			max-width: 300px;

			.post-btn {
				position: sticky;
				top: 225px;
				width: 100%;
				box-shadow: abstract.$mainShadow;
				margin-top: auto;
			}

			@media (max-width: 900px) {
				& {
					display: none;
				}
			}
		}

		main {
			max-width: 600px;

			@media (min-width: 1400px) {
				& {
					width: 100%;
				}
			}

			@media (max-width: 1400px) {
				& {
					min-width: 400px;
				}
			}

			@media (max-width: 700px) {
				& {
					min-width: 100%;
				}
			}

			display: flex;
			flex-direction: column;
			margin-top: 73px;

			.posts {
				margin: auto;
				// padding-top: 10px;
				padding-bottom: 180px;
				width: 100%;

				@media (min-width: 1400px) {
					& {
						min-width: 100%;
					}
				}

				@media (max-width: 1400px) {
					& {
						min-width: 400px;
					}
				}

				@media (max-width: 700px) {
					& {
						min-width: 100%;
					}
				}
			}
		}
	}
}

.icons {
	// height: 50px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	display: flex;
	// gap: 10px;
	justify-content: space-evenly;
	bottom: 0;
	padding: 10px;
	// padding-top: 20px;
	padding-bottom: 25px;
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.3s ease;
	box-shadow: rgb(50 50 93 / 25%) 0px -2px 5px -1px,
		rgb(0 0 0 / 30%) 0px -2px 3px -1px;
	box-shadow: abstract.$mainShadow;

	@media (min-width: 900px) {
		& {
			opacity: 0;
			pointer-events: none;
		}
	}

	i {
		// background-color: #eee;
		color: #888;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 5px;
		border-radius: 50%;
		font-size: 18px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: background-color 0.3s ease, color 0.3s ease;

		@media (min-width: 900px) {
			& {
				opacity: 1;
				pointer-events: all;
			}
		}

		&.home:hover,
		&.profile:hover,
		&.tags:hover,
		&.post-icon:hover,
		&.logout:hover {
			// background-color: #e2e2e2;
			color: #111;
		}

		// &.profile:hover {
		// 	color: rgb(13, 202, 240);
		// }

		// &.tags:hover {
		// }

		// &.post-icon:hover {
		// 	color: #222;
		// }

		&.logout:hover {
			color: red;
		}

		&.active {
			color: rgb(13, 202, 240);
		}
	}
}

.post-btn {
	font-size: 20px;
	// font-size: 16px;
}
