@use "../../abstract";

.create-new-post-box {
	background-color: #222;
	background-color: abstract.$mainBackgroundColor;
	background-color: #f7f7f7;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 7px;
	width: 100%;
	min-height: 133px;
	padding: 10px;
	box-shadow: abstract.$mainShadow;
	margin-left: auto;
	margin-right: auto;
	transition: width 0.3s ease;
	position: relative;

	i.fa-xmark {
		position: absolute;
		right: 0;
		padding: 5px;
		// background-color: red;
		right: 10px;
		// border-radius: 50%;
		cursor: pointer;
		font-size: 18px;
		display: none;
	}

	> div.icon-and-text {
		display: flex;

		.profile-icon {
			max-width: 50px;
			height: 50px;

			.profile-img-icon {
				flex-shrink: 0;
			}
		}

		textarea.post-text-area {
			resize: none;
			border: none;
			outline: none;
			background: none;
			overflow: hidden;
			display: block;
			padding: 10px;
			max-width: 100%;
			flex-grow: 1;
			min-height: 60px;
			line-height: 20px;
			transition: height 0.3s ease;

			&::placeholder {
				font-size: 17px;
			}
		}
	}

	.post-img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
		position: relative;
		max-height: 200px;
		overflow: hidden;
		width: 100%;
		max-height: 400px;
		max-height: 350px;

		img {
			max-width: 100%;

			// &::after {
			// 	content: "\f00d";
			// 	position: absolute;
			// 	top: 0px;
			// 	right: 0px;
			// }
		}

		i {
			position: absolute;
			top: 0;
			right: 10px;
			cursor: pointer;
			background-color: #eee;
			border-radius: 50%;
			padding: 10px;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: #ddd;
			}
		}
	}

	ul.tags-box {
		list-style-type: none;
		padding: 0px;
		display: flex;
		gap: 5px;

		li {
			background-color: green;
			border-radius: 10px;
			color: #fff;
			padding: 0px 10px;
		}
	}

	.btns {
		display: flex;
		gap: 5px;
		justify-content: flex-end;
		align-items: center;
		// gap: 50px;
		// padding-left: 10px;
		// padding-right: 10px;

		.attach-img-btn {
			margin-right: auto;

			input {
				display: none;
			}

			i.fa-image {
				// width: 40px;
				// height: 40px;
				font-size: 16px;
				// background-color: #eee;
				color: #555;
				border-radius: 50%;
				padding: 8px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: background-color 0.3s ease, color 0.3s ease;
				// box-shadow: abstract.$mainShadow;
				color: rgb(13, 202, 240);
				margin-left: 8px;

				&:hover {
					// background-color: #ccc;
					background-color: #efefef;
					color: #222;
					color: rgb(13, 202, 240);
				}
			}
		}

		.tags {
			// background-color: #eee;
			border-radius: 15px;
			// padding-left: 40px;
			// padding-right: 40px;
			user-select: none;
			min-width: 140px;
			// padding-top: 1px;
			// padding-bottom: 1px;
			// border: 1px solid transparent;
			border: 1px solid #ddd;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			color: #666;
			transition: border 0.3s ease;
			transition: background-color 0.3s ease, color 0.3s ease;
			position: relative;

			&:hover {
				// background-color: #00caee;
				border: 1px solid #00cbee;
				// color: #fff;
			}

			i {
				margin-left: 5px;
				font-size: 13px;
			}

			.tags-btn {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				i {
					transition: transform 0.3s ease;

					&.active {
						transform: rotate(180deg);
					}
				}
			}

			ul.tags-selectbox {
				position: absolute;
				top: 28px;
				left: 0px;
				// min-width: 129px;
				z-index: 1;
				background-color: #eee;
				border-radius: 10px;
				list-style-type: none;
				box-shadow: abstract.$mainShadow;
				padding: 0px;
				padding: 5px 10px;
				transform: scaleY(0) translateY(-20px);
				opacity: 0;
				transform-origin: top center;
				transition: transform 0.3s ease, color 0.3s ease,
					opacity 0.3s ease;

				&.active {
					transform: scaleY(1) translateY(0px);
					opacity: 1;
				}

				li {
					border-radius: 5px;
					padding: 5px 10px;
					display: flex;
					align-items: center;
					gap: 5px;

					&:hover {
						background-color: #ddd;

						i {
							color: #00cbee;
						}
					}
				}
			}
		}

		button.post-btn {
			font-size: 16px;
			padding-left: 25px;
			padding-right: 25px;
			box-shadow: abstract.$mainShadow;
			// padding-top: 6px;
			// padding-bottom: 6px;
			// margin-bottom: 5px;
		}
	}
}
