@use "../../abstract";

#create-new-post-box {
	background-color: #222;
	background-color: abstract.$mainBackgroundColor;
	background-color: #f7f7f7;
	border-radius: 10px;
	margin-top: 40px;
	width: 100%;
	min-height: 200px;
	padding: 20px;
	box-shadow: abstract.$mainShadow;
	margin-left: auto;
	margin-right: auto;
	transition: width 0.3s ease;

	> div.icon-and-text {
		display: flex;

		.profile-img-icon {
			flex-shrink: 0;
		}

		textarea#post-text-area {
			resize: none;
			border: none;
			outline: none;
			background: none;
			overflow: hidden;
			display: block;
			padding: 10px;
			max-width: 100%;
			flex-grow: 1;
			min-height: 140px;
			line-height: 20px;
			transition: height 0.3s ease;

			&::placeholder {
				font-size: 17px;
			}
		}
	}

	.btns {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// padding-left: 10px;
		// padding-right: 10px;

		i {
			font-size: 13px;
			background-color: #9c9c9c;
			color: #eee;
			border-radius: 50%;
			padding: 10px;
			cursor: pointer;
			transition: background-color 0.3s ease, color 0.3s ease;

			&:hover {
				background-color: rgb(121, 121, 121);
				color: rgb(13, 202, 240);
			}
		}

		button#post-btn {
			font-weight: 600;
			font-size: 17px;
			font-size: 13px;
			font-weight: bold;
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 6px;
			padding-bottom: 6px;
			// margin-bottom: 5px;
		}
	}
}
