@use "../../abstract";

#create-new-post-box {
	background-color: #222;
	background-color: abstract.$mainBackgroundColor;
	border-radius: 10px;
	margin-top: 10px;
	// max-width: 500px;
	min-width: 450px;
	padding: 10px;
	box-shadow: abstract.$mainShadow;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #555;
	transition: width 0.3s ease;

	@media (max-width: 1400px) {
		& {
			min-width: 400px;
		}
	}

	@media (max-width: 700px) {
		& {
			min-width: 100%;
		}
	}

	> div.icon-and-text {
		display: flex;

		.profile-img-icon {
			flex-shrink: 0;
		}

		textarea#post-text-area {
			resize: none;
			border: none;
			outline: none;
			background: none;
			overflow: hidden;
			display: block;
			padding: 10px;
			max-width: 100%;
			flex-grow: 1;
			min-height: 80px;
			line-height: 20px;
			color: #fff;
			transition: height 0.3s ease;

			&::placeholder {
				font-size: 17px;
			}
		}
	}

	.btns {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;

		i {
			font-size: 13px;
			background-color: #333;
			color: #eee;
			border-radius: 50%;
			padding: 10px;
			cursor: pointer;
			transition: background-color 0.3s ease, color 0.3s ease;

			&:hover {
				background-color: #353535;
				color: rgb(13, 202, 240);
			}
		}

		button#post-btn {
			font-weight: 600;
			font-size: 17px;
			font-size: 13px;
			font-weight: bold;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 5px;
		}
	}
}
