@use "../../abstract";

#profile-card {
	background-color: #222;
	background-color: abstract.$mainBackgroundColor;
	background-color: #f7f7f7;
	background-color: #fff;
	margin-top: 10px;
	border-radius: 10px;
	height: fit-content;
	max-width: 300px;
	min-width: fit-content;
	position: sticky;
	top: 80px;
	z-index: 1;
	padding: 10px;
	padding-top: 20px;
	box-shadow: abstract.$mainShadow;

	.header {
		display: flex;
		// flex-direction: column;
		align-items: center;
		gap: 10px;
		position: relative;
		bottom: 30px;

		.profile-icon {
			max-width: 70px;
			height: 70px;
			flex-shrink: 0;
		}

		.name-and-username {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			// margin-top: 5px;

			.name {
				padding-left: 2px;
				font-size: 18px;
				cursor: pointer;
				font-weight: 700;

				&:hover {
					color: #555;
				}
			}

			.username {
				font-size: 13px;
				margin-top: -5px;
				cursor: default;
			}
		}

		i {
			margin-left: auto;
			margin-right: 5px;
			color: #aaa;
			cursor: pointer;
			border-radius: 50%;
			padding: 8px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: #eee;
				color: #333;
			}
		}
	}

	// .info {
	// 	margin-top: -20px;
	// 	padding-left: 5px;

	// 	> div {
	// 		font-weight: bold;
	// 		// font-size: 15px;
	// 	}

	// 	span {
	// 		font-weight: normal;
	// 	}

	// 	// .email span {
	// 	// 	font-size: 12px;
	// 	// }
	// }

	.buttons {
		// margin-top: 15px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		> div {
			flex: 1;
		}

		.logout {
			background-color: #eee;
			display: flex;
			gap: 10px;
			flex-direction: row-reverse;
			justify-content: center;
			align-items: center;
			color: #888;

			i {
				margin-left: 5px;
				transform: rotate(180deg);
			}

			&:hover {
				background-color: #dc3545;
				color: #fff;
			}
		}
	}
}
