@use "../../abstract";

#profile-card {
	background-color: #222;
	background-color: abstract.$mainBackgroundColor;
	background-color: #f7f7f7;
	margin-top: 10px;
	border-radius: 10px;
	max-height: 200px;
	max-width: 380px;
	min-width: fit-content;
	position: sticky;
	top: 103px;
	z-index: 1;
	padding: 10px;
	padding-top: 20px;
	box-shadow: abstract.$mainShadow;

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		position: relative;
		bottom: 30px;

		.profile-icon {
			max-width: 70px;
			height: 70px;
		}

		.name-and-username {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: -5px;

			.name {
				cursor: pointer;
				font-weight: 500;

				&:hover {
					color: #555;
				}
			}

			.username {
				font-size: 13px;
				margin-top: -5px;
				cursor: default;
			}
		}
	}
}
