@use "../../abstract";

#profile-card {
	background-color: #222;
	background-color: abstract.$mainBackgroundColor;
	margin-top: 10px;
	border-radius: 10px;
	max-height: 200px;
	max-width: 380px;
	min-width: fit-content;
	position: sticky;
	top: 83px;
	z-index: 1;
	padding: 10px;
	color: #fff;
	box-shadow: abstract.$mainShadow;

	.header {
		display: flex;
		gap: 10px;

		.profile-icon {
			max-width: 70px;
			height: 70px;
		}

		.name-and-username {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.name {
				cursor: pointer;
				color: #fff;
				font-weight: 500;

				&:hover {
					color: #ddd;
				}
			}

			.username {
				margin-top: -5px;
				margin-left: -2px;
				font-size: 13px;
				cursor: default;
			}
		}
	}
}
