@use "../../abstract";

aside#tags {
	background-color: #222;
	background-color: abstract.$mainBackgroundColor;
	background-color: #f7f7f7;
	margin-top: 10px;
	border-radius: 10px;
	max-width: 380px;
	min-width: fit-content;
	height: fit-content;
	position: sticky;
	top: 113px;
	padding: 10px;
	box-shadow: abstract.$mainShadow;

	h4 {
		padding-left: 5px;
		padding-right: 5px;
		cursor: default;
	}

	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;

		li {
			padding: 10px;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: #eee;
				text-decoration: underline;
			}
		}
	}
}
