@use "../abstract";

nav {
	background-color: abstract.$mainBackgroundColor;
	box-shadow: abstract.$mainShadow;
	background-color: #222;

	.container-xl {
		justify-content: center !important;

		a.navbar-brand {
			margin-right: 0px;

			#logo {
				font-family: "Comfortaa", sans-serif;
				color: #fff;
				// color: #222;
				user-select: none;
				display: flex;
				align-items: center;

				i {
					font-size: 22px;
					display: block;
					padding-top: 3px;
					cursor: pointer;
				}

				span {
					font-size: 25px;
					font-weight: bold;
					letter-spacing: -2px;
					cursor: pointer;
				}
			}
		}
	}
}
