@use "../abstract";

nav {
	background-color: #222;
	box-shadow: abstract.$mainShadow;
	// border-bottom: 2px solid #555;
	background-color: abstract.$mainBackgroundColor;

	.container-xl {
		// max-width: 1000px;
		padding-left: 20px;
		padding-right: 20px;

		a.navbar-brand {
			#logo {
				font-family: "Comfortaa", sans-serif;
				color: #fff;
				user-select: none;
				display: flex;
				align-items: center;

				i {
					font-size: 30px;
					display: block;
					padding-top: 5px;
					cursor: pointer;
				}

				span {
					font-size: 30px;
					font-weight: bold;
					letter-spacing: -2px;
					cursor: pointer;
				}
			}
		}

		.profile-and-logout {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 15px;

			i.logout {
				background-color: #333;
				color: #aaa;
				padding: 8px;
				border-radius: 50%;
				font-size: 12px;
				cursor: pointer;
				transition: background-color 0.3s ease, color 0.3s ease;

				&:hover {
					background-color: #353535;
					color: red;
				}
			}
		}
	}
}
