@use "../abstract";
@use "../components/loader.scss";

.post {
	width: 100%;
	background-color: #f7f7f7;
	background-color: #fff;
	margin-top: 16px;
	border-radius: 10px;
	box-shadow: abstract.$mainShadow;
	// padding: 10px;

	.header {
		display: flex;
		// flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		z-index: 1;
		// cursor: pointer;
		padding: 10px;
		padding-bottom: 0px;
		position: relative;

		// &::before {
		// 	content: "";
		// 	background-color: #eee;
		// 	border-radius: 10px;
		// 	width: 100%;
		// 	height: calc(100% - 10px);
		// 	position: absolute;
		// 	top: 15px;
		// 	z-index: -1;
		// 	transition: background-color 0.3s ease;
		// }

		.profile-icon {
			max-width: 50px;
			height: 50px;
			position: relative;
			bottom: 20px;
		}

		.name-and-username {
			display: flex;
			flex-direction: column;
			// align-items: center;
			gap: 5px;
			margin-top: -6px;

			.name {
				cursor: pointer;
				font-weight: 700;

				&:hover {
					color: #555;
				}

				.username {
					font-size: 13px;
					font-weight: 400;
				}
			}

			.time {
				font-size: 11px;
				margin-top: -9px;
				// margin-left: -60px;
			}
		}

		.edit {
			margin-left: auto;

			i {
				margin-left: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 8px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				transition: background-color 0.3s ease, color 0.3s ease;
				color: #888;
				cursor: pointer;
				&:hover {
					background-color: #eee;
					color: #333;
				}
			}

			ul.options {
				position: absolute;
				right: 10px;
				z-index: 10;
				list-style: none;
				padding: 0px;
				padding: 10px;
				width: 80px;
				margin: 0;
				box-shadow: abstract.$mainShadow;
				background-color: #ffffff;
				color: #fff;
				border-radius: 10px;
				cursor: pointer;
				transform: translateY(-20px);
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.3s ease, transform 0.3s ease;

				&.active {
					transform: translateY(0px);
					opacity: 1;
					pointer-events: all;
				}

				li {
					border-radius: 5px;
					padding: 5px;
					text-align: center;
					box-shadow: abstract.$mainShadow;

					// &:first-child {
					// 	background-color: rgb(65, 141, 255);
					// }

					&:last-child {
						margin-top: 5px;
					}

					&:hover {
						opacity: 0.9;
					}
				}
			}
		}
	}

	.save-cancel-edit {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		height: 0px;
		transition: height 0.3s ease;
		margin-bottom: 0px;

		.save-changes,
		.cancel {
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease;
			font-size: 13px;
		}

		&.active {
			height: fit-content;
			margin-bottom: 10px;

			.save-changes,
			.cancel {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	.post-edit-loader {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 5px;
		padding-bottom: 5px;
		pointer-events: none;

		.lds-ellipsis {
			height: 20px;
			top: -28px;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.text {
		font-size: 15px;
		font-weight: 500;
		padding: 10px;
		padding-top: 0px;
		padding-bottom: 10px;
		// background-color: #eee;
		border-radius: 10px;
		// word-break: break-all;
		overflow: hidden;
		// padding: 10px;
		transition: background-color 0.3s ease;
		border: none;
		outline: none;

		// &:hover {
		// 	background-color: #ddd;
		// }
	}

	.image {
		// margin-top: 10px;
		width: 100%;
		max-height: 400px;
		max-height: 350px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		// border-radius: 10px;

		&.edit {
			min-height: 80px;
		}

		&.removed {
			height: 0px;
		}

		&.new {
			min-height: 160px;
		}

		.change-image,
		.remove-image {
			position: absolute;
			right: 20px;
			color: #999;
			background-color: #f7f7f7;
			border-radius: 50%;
			box-shadow: abstract.$mainShadow;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: background-color 0.3s ease, opacity 0.3s ease;
			padding: 5px;
			font-size: 25px;
			opacity: 0;
			pointer-events: none;
			z-index: 100;

			&.active {
				// display: flex;
				opacity: 1;
				pointer-events: all;
			}

			&:hover {
				background-color: #eee;
			}
		}

		.change-image {
			top: 20px;
			overflow: hidden;

			label {
				padding: 10px;
				&:hover {
					cursor: pointer;
				}
				i {
					input {
						display: none;
					}
				}
			}
		}

		.remove-image {
			top: 80px;
		}

		img {
			max-width: 100%;
		}
	}

	.tags-comments {
		padding: 10px;
		padding-top: 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
		border-bottom: 2px solid #e6e6e6;
		padding-bottom: 10px;

		.tags {
			display: flex;
			// justify-content: center;
			gap: 10px;
			width: 100%;
			// font-weight: bold;

			.tag {
				// border-radius: 7px;
				// border: 1px solid #bbb;
				// padding: 2px 7px;
				cursor: default;
				// background-color: #eee;
				// color: #222;
				transition: background-color 0.3s ease, color 0.3s ease;
				font-size: 12px;
				color: #666;
				color: rgb(13, 202, 240);
				// box-shadow: abstract.$mainShadow;

				&::before {
					content: "#";
				}
			}
		}
	}

	.comments {
		display: flex;
		flex-direction: column;
		// gap: 5px;
		// margin-top: 10px;
		padding: 10px;
		padding-top: 10px;
		// border-top: 2px solid #ddd;

		.comments-wrapper {
			display: flex;
			gap: 10px;
			margin-bottom: 5px;

			.comments-number {
				font-size: 15px;
				min-height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				min-width: 100px;
				// background-color: #eee;
				border-radius: 8px;
				cursor: pointer;
				user-select: none;
				transition: background-color 0.3s ease, color 0.3s ease;
				color: #999;
				width: 50%;
				// background-color: #f7f7f7;
				box-shadow: abstract.$mainShadow;

				&:hover {
					background-color: #eee;
					color: #444;
				}

				span {
					font-size: 14px;
					position: relative;
					bottom: 2px;
					color: #555;
				}
			}

			.make-comment {
				padding: 8px;
				// margin: auto;
				display: flex;
				gap: 10px;
				justify-content: center;
				align-items: center;
				// background-color: #eee;
				border-radius: 8px;
				cursor: pointer;
				user-select: none;
				transition: background-color 0.3s ease, color 0.3s ease;
				color: #999;
				width: 50%;
				// background-color: #f7f7f7;
				box-shadow: abstract.$mainShadow;

				&:hover {
					background-color: #eee;
					color: #444;
				}
			}

			span {
				font-size: 14px;
				position: relative;
				bottom: 2px;
				color: #555;
			}
		}

		[id^="make-comment"] {
			.card {
				padding: 0px;
				padding-top: 5px;
				padding-bottom: 5px;
				border: none;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;

				.profile-icon {
					max-width: 40px;
					min-width: 40px;
					max-height: 40px;
					min-height: 40px;
				}

				input {
					flex-grow: 1;
					outline: none;
					border: 1px solid #ddd;
					border-radius: 5px;
					padding-left: 5px;
					min-height: 35px;

					&::placeholder {
						color: #919191;
						font-size: 14px;
						user-select: none;
					}

					&:focus::placeholder {
						color: #c9c9c9;
					}
				}

				i {
					font-size: 24px;
					cursor: pointer;
					color: rgb(13, 202, 240);
					transition: opacity 0.3s ease;

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}

		[id^="comments-number"] {
			.card {
				border: none;
				padding: 0;

				.comment {
					display: flex;
					flex-direction: row;
					align-items: flex-start;
					gap: 10px;
					margin-top: 10px;

					.profile-icon {
						flex-shrink: 0;
						max-width: 40px;
						min-width: 40px;
						max-height: 40px;
						min-height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.comment-box {
						.comment-author {
							font-weight: bold;
						}

						.comment-content {
							background-color: #f4f4f4;
							border-radius: 20px;
							padding: 5px 15px;
							flex-grow: 1;

							.comment-author {
								cursor: pointer;
							}

							.username {
								font-size: 13px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}
