@use "../abstract";

.post {
	width: 100%;
	background-color: #f7f7f7;
	background-color: #fff;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: abstract.$mainShadow;
	// padding: 10px;

	.header {
		display: flex;
		// flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		z-index: 1;
		cursor: pointer;
		padding: 10px;
		padding-bottom: 0px;

		// &::before {
		// 	content: "";
		// 	background-color: #eee;
		// 	border-radius: 10px;
		// 	width: 100%;
		// 	height: calc(100% - 10px);
		// 	position: absolute;
		// 	top: 15px;
		// 	z-index: -1;
		// 	transition: background-color 0.3s ease;
		// }

		.profile-icon {
			max-width: 50px;
			height: 50px;
			position: relative;
			bottom: 20px;
		}

		.name-and-username {
			display: flex;
			flex-direction: column;
			// align-items: center;
			gap: 5px;
			margin-top: -6px;

			.name {
				cursor: pointer;
				font-weight: 700;

				&:hover {
					color: #555;
				}
			}

			.username {
				font-size: 13px;
				margin-top: -9px;
				margin-left: -2px;
				cursor: default;
			}

			.time {
				font-size: 11px;
				margin-top: -9px;
				// margin-left: -60px;
			}
		}
	}

	.text {
		font-size: 15px;
		font-weight: 500;
		padding: 10px;
		padding-top: 0px;
		padding-bottom: 0px;
		// background-color: #eee;
		border-radius: 10px;
		// padding: 10px;
		transition: background-color 0.3s ease;

		// &:hover {
		// 	background-color: #ddd;
		// }
	}

	.image {
		margin-top: 10px;
		width: 100%;
		max-height: 400px;
		max-height: 350px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		// border-radius: 10px;

		img {
			max-width: 100%;
		}
	}

	.tags-comments {
		padding: 10px;
		padding-top: 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
		border-bottom: 2px solid #e6e6e6;
		padding-bottom: 10px;

		.tags {
			display: flex;
			// justify-content: center;
			gap: 10px;
			width: 100%;

			.tag {
				border-radius: 7px;
				// border: 2px solid rgb(13, 202, 240);
				padding: 2px 7px;
				cursor: pointer;
				background-color: #eee;
				color: #222;
				transition: background-color 0.3s ease, color 0.3s ease;
				font-size: 12px;
			}
		}
	}

	.comments {
		display: flex;
		gap: 5px;
		margin-top: 10px;
		padding: 10px;
		padding-top: 0px;

		.comments-number {
			font-size: 15px;
			min-height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			min-width: 100px;
			// background-color: #eee;
			border-radius: 8px;
			cursor: pointer;
			transition: background-color 0.3s ease, color 0.3s ease;
			color: #999;
			width: 50%;

			&:hover {
				background-color: #ddd;
				color: #444;
			}

			span {
				font-size: 14px;
				position: relative;
				bottom: 2px;
				color: #555;
			}
		}

		.make-comment {
			padding: 8px;
			// margin: auto;
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
			// background-color: #eee;
			border-radius: 8px;
			cursor: pointer;
			transition: background-color 0.3s ease, color 0.3s ease;
			color: #999;
			width: 50%;

			&:hover {
				background-color: #ddd;
				color: #444;
			}
		}

		span {
			font-size: 14px;
			position: relative;
			bottom: 2px;
			color: #555;
		}
	}
}
