extends ../layouts/page-skeleton

block mainBlock
	.profile-page-card.text-light
		.background-image
			.image
				img(src=require('../../assets/profile_picture.png'), alt="profile picture")
		.content
			.profile-image
				img(src=require('../../assets/profile_picture.png'), alt="profile picture")
			.text
				.name 
				.username
				.edit-btn.btn.btn-info.text-light.fw-bold.rounded-pill.hide EDIT
				.follow-btn.btn.btn-info.text-light.fw-bold.rounded-pill.hide FOLLOW
	.profile-posts
	.profile-loader
		include ../components/loader