extends ../layouts/page-skeleton

block mainBlock
	.profile-page-card.text-light
		.background-image
			.image
				img(src=require('../../assets/profile_picture.png'), alt="profile picture")
		.content
			.profile-image
				img(src=require('../../assets/profile_picture.png'), alt="profile picture")
				label(for="change-profile-image")
					i.fa-solid.fa-camera
						input#change-profile-image(type="file" name="profile image")
			.text
				.name 
				.username
				.btns
					.edit-btn.btn.btn-info.text-light.fw-bold.rounded-pill.hide EDIT
					.save-changes-btn.btn.btn-info.text-light.fw-bold.rounded-pill.hide SAVE
					.cancel-changes-btn.btn.btn-danger.text-light.fw-bold.rounded-pill.hide CANCEL
					.follow-btn.btn.btn-info.text-light.fw-bold.rounded-pill.hide FOLLOW
	.profile-posts
		.posts
	.profile-loader
		include ../components/loader