@use "../components/skeleton.scss";
@use "../abstract";

h1 {
	background-color: black;
	border-radius: 10px;
	position: relative;
	top: 7px;
	box-shadow: abstract.$mainShadow;
	// height: 200px;
	min-height: 300px;
}
