#create-new-post-box 
    div.icon-and-text
        include ../profile-icon
        textarea#post-text-area(
            name="post content" 
            placeholder="What's happening, Ahmed?"
            rows="3"
            )
    #post-img
    div.btns
        #attach-img-btn
            i.fa-solid.fa-image
        button#post-btn.btn.btn-info.text-dark Post