#create-new-post-box
    div.icon-and-text
        include ../profile-icon
        textarea#post-text-area(
            name="post content" 
            placeholder="What's on your mind, Ahmed?"
            rows="4"
            )
    #post-img
    div.btns
        #attach-img-btn
            i.fa-solid.fa-image
        button#post-btn.btn.btn-info.text-light POST