.create-new-post-box
    i.fa-solid.fa-xmark
    div.icon-and-text
        include ../profile-icon
        textarea.post-text-area(
            name="post content" 
            placeholder="What's on your mind, Ahmed?"
            rows="2"
            )
    .post-img
    //- ul.tags-box
    //-     li #[i.fa-solid.fa-minus] #[span Sports]
    //-     li #[i.fa-solid.fa-minus] #[span Politics]
    div.btns
        //- .tags 
        //-     .tags-btn Tags #[i.fa-solid.fa-chevron-down]
        //-     ul.tags-selectbox
        //-         li #[i.fa-solid.fa-plus] #[span Sports]
        //-         li #[i.fa-solid.fa-plus] #[span Politics]
        //-         li #[i.fa-solid.fa-plus] #[span Economy]
        //-         li #[i.fa-solid.fa-plus] #[span Entertainment]
        .attach-img-btn
            i.fa-solid.fa-image
        button.post-btn.btn.btn-info.fw-bold.text-light Post