.create-new-post-box
    div.icon-and-text
        include ../profile-icon
        textarea.post-text-area(
            name="post content" 
            placeholder="What's on your mind, Ahmed?"
            rows="4"
            )
    .post-img
    div.btns
        .attach-img-btn
            i.fa-solid.fa-image
        .tags Tags #[i.fa-solid.fa-chevron-down]
        button.post-btn.btn.btn-info.fw-bold.text-light Post