#create-new-post-box 
    textarea#post-text-area(
        name="post content" 
        placeholder="What's happening?"
        rows="5"
        )
    #post-img
    div.btns
        #attach-img-btn
            i.fa-solid.fa-image.text-info
        button#post-btn.btn.btn-info.text-dark Post