#profile-card
    .header
        include ../profile-icon
        .name-and-username
            .name Ahmed Reda
            .username.text-muted @#[span ahmedreda1009]
        i.fa-solid.fa-pen-to-square
    //- .info
    //-     //- .email Email: #[span ahmedreda1009@gmail.com]
    //-     .psots Posts: #[span 10]
    //-     .comments Comments: #[span 4]
    .buttons
        .logout.btn.p-1 Log out #[i.fa-solid.fa-right-from-bracket]