aside#tags
    h4 #[i.fa-solid.fa-hashtag] Explore
    ul
        li(data-tagid='1') Sports
        li(data-tagid='2') Politics
        li(data-tagid='3') Economy
        li(data-tagid='4') Entertainment