doctype html
html(lang='en')
	head
		include meta/head
		script.
			window.localStorage.removeItem('token');
	body
		.wrapper.d-flex.pb-5.text-light
			.text
				.logo.text-center
					i.fa-solid.fa-earth-americas.text-info
					span.outer pla
						span.text-info net
				.slogan To be connected, not to be controlled.
			include components/login/login-box
			include components/login/signup-box