doctype html
html
	head
		include ../meta/head
		script.
			if (!window.localStorage.getItem("token")) {
				window.location.href = "index.html";
			}
	body
		include ../components/header
		.main-wrapper
			.container-xl
				.profile
					include ../components/home/profile-card
					.post-btn.btn.btn-info.fw-bold.text-light Post
				main 
					include ../components/home/new-post-box
					.posts
						.post(data-id=1)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								.edit
									i.fa-solid.fa-ellipsis
									ul.options.active
										li.bg.bg-primary Edit
										li.bg.bg-danger Delete
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-1" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-1" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-1.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-1.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
				include ../components/home/tags
		.icons
			//- i.home.active.fa-solid.fa-house
			.home
				i.fa-solid.fa-earth-americas
				span Home
			.profile
				i.fa-solid.fa-user
				span Profile
			.tags
				i.fa-solid.fa-hashtag
				span Tags
			.post-icon
				i.fa-solid.fa-pen
				span Post
			.logout
				i.fa-solid.fa-right-from-bracket
				span Logout
		ul.tags-list
			li Sports
			li Policy
			li Economy
			li Entertainment
		include ../components/home/floating-post-box