doctype html
html
	head
		include ../meta/head
	body 
		include ../components/header
		.container-xl
			include ../components/home/profile-card
			main 
				include ../components/home/new-post-box
			include ../components/home/tags