doctype html
html
	head
		include ../meta/head
	body 
		include ../components/header
		.main-wrapper
			.container-xl
				include ../components/home/profile-card
				main 
					include ../components/home/new-post-box
					.posts
						.post
						.post
						.post
						.post
						.post
						.post
						.post
						.post
						.post
						.post
				include ../components/home/tags