.sign-up.position-absolute.min-vh-100.min-vw-100.top-0
	.overlay.position-absolute.min-vh-100.min-vw-100.top-0
	form.d-flex.flex-column.position-absolute.rounded(action='')
		i#close-sign-up.fa-solid.fa-xmark
		.header
			h3.title Sign Up
			p Register and be part of the #[span.text-info.fw-bold.logo net] of 
				span.logo.fw-bold pla
					span.text-info.fw-bold.logo net
			hr
		label#input-img(for='profile-pic')
			span#select-img.rounded
				i.fa-solid.fa-image.text-info
				input#profile-pic.rounded(type='file' accept='image/png, image/jpg, image/gif, image/jpeg')
				span.title Select your profile picture.
			span#selected-img.rounded
				.position-relative
					span#remove-profile-picture.position-absolute.p-1.bg-danger.rounded-circle
						i.fa-solid.fa-xmark
					img(src=require('../../../assets/profile_picture.png') alt="profile picture")
		input#name-sign-up.rounded(type='text' placeholder='Your name')
		input#email-sign-up.rounded(type='email' placeholder='Email address')
		input#password-sign-up.rounded(type='password' placeholder='New password')
		
		.info
			p Do not share photos or any personal data that you do not want to be seen by other users.
			p We are still experimenting, so kindly do not use a password that you do not want anyone to know, in order to preserve your privacy.
		button#sign-up-btn.btn.btn-dark.bg-gradient Sign Up