.sign-up.position-absolute.min-vh-100.min-vw-100.top-0
	.overlay.position-absolute.min-vh-100.min-vw-100.top-0
	form.d-flex.flex-column.position-absolute.rounded(action='')
		i#close-sign-up.fa-solid.fa-xmark
		.header
			h3.title Sign Up
			p Register to be part of the #[span.text-info.fw-bold.logo net] of 
				span.logo.fw-bold pla
					span.text-info.fw-bold.logo net
			hr
		label#input-img(for='profile-pic')
			span#select-img
				i.fa-solid.fa-image.text-info
				input#profile-pic(type='file' accept='image/png, image/jpg, image/gif, image/jpeg')
				span.title Select your profile picture.
			div#selected-img
				i.fa-solid.fa-camera
				div.position-relative
					.inner.overflow-hidden
						span#remove-profile-picture.position-absolute.p-1.bg-danger.rounded-circle
							i.fa-solid.fa-xmark
						//- img(src=require('../../../assets/profile_picture.png') alt="profile picture" decoding="async")
						img(src=require('../../../assets/profile_picture.png') alt="profile picture")
		input#name-sign-up(type='text' placeholder='Your name')
		input#email-sign-up(type='email' placeholder='Email address')
		input#password-sign-up(type='password' placeholder='New password')
		
		.info
			//- p Do not share photos or any personal data that you do not want to be seen by other users.
			//- input.form-check-input(type='checkbox')
			p We rely on a public API, so please do not use passwords, images, or any personal data that you do not want to be obtained by people who use the same API.
		button#sign-up-btn.btn.btn-dark.bg-gradient Sign Up