.connect
    h4.title #[i.fa-solid.fa-at.text-info] Connect
    .user-cards
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]
        .user-card
            include ../components/profile-icon
            .profile-name
                .name Ahmed Reda
                .username.text-muted @#[span ahmedreda1009]