nav.navbar.navbar-light.bg-dark
    .container-sm
        a.navbar-brand
            #logo.text-center
                i.fa-solid.fa-earth-americas.text-info
                span.outer pla
                    span.text-info net