nav.navbar.fixed-top 
    .container-xl
        a.navbar-brand
            #logo
                i.fa-solid.fa-earth-americas.text-info
                span.outer pla
                    span.text-info net
        .profile-and-logout
            include profile-icon
            i.logout.fa-solid.fa-right-from-bracket