nav.navbar.navbar-light.sticky-top 
    .container-xl
        a.navbar-brand
            #logo
                i.fa-solid.fa-earth-americas.text-info
                span.outer pla
                    span.text-info net
        #profile-icon-header