#create-new-post-box 
    textarea#post-text-area(
        name="post content" 
        placeholder="What's happening?"
        rows="5"
        )
    #post-img
    div 
        #attach-img-btn
        button#post-btn.btn.btn-info.text-light Post